<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<p>Nombre: {{nombre}}</p>
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>
