<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Indice</title>
	</head>
	<body> 
	<!--ESTO ES UN COMENTARIO
	{% if latest_question_list %}
	    <ul>
	    {% for minion in latest_question_list %}
		<li><a href="{% url 'directorio:detalle' minion.id %}">{{ minion.nombre_texto }}</a></li>
	    
	    {% endfor %}

	    </ul>
	{% else %}
	    <p>No hay minions.</p>
	{% endif %} 
	
	<p>Su nombre es {{ nombre }} </p>
	<p>Minions vivos: {{x}}</p>
	<p>Comando: {{comando}}</p>-->

	<h2>Minions activos:</h2>
	{% for i in listaMinions %}
		<li><a href="{% url 'directorio:detalle2' i %}">{{ i }}</a></li>
		
	{% endfor %}

	<!-- ESTO ES UN COMENTARIO
	<h2>Comando:</h2>
	{% for z in comando %}
		<p>{{ z }}</p>
	{% endfor %} -->
	
	</body>
</html>
